@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    --main-color: rgb(170, 124, 40);
    --first-shade: #99d1ccff;
    --second-shade: rgb(192, 193, 199);
    --third-shade: #31373d;
    --animation-in-duration: .6s;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Ubuntu", sans-serif;
}


/* --------------- NAV --------------- */

nav {
    background-color: var(--third-shade);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
}

.logo {
    width: 200px;
    height: auto;
}

.nav-space {
    width: 35%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-align: center;
    align-items: center;
    margin-right: 5%;
}

.nav-links li {
    list-style: none;
}

#name-hover {
    color: white;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.nav-links li a {
    color: var(--main-color);
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: all .1s ease-out;
}

.nav-links li a:hover { transform: scale(1.1); }

.carrito{
    width: auto;
    height: 2vw;
    transition: all .4s ease-in-out;
}

}
.usuario{
    width: auto;
    height: 2vw;
    color: white;
}

#name-hover {
    position:relative;
}

#menu-hover { 
    width: 100%;
    text-align: center;
    display:none;
    position:absolute;
    line-height: 32px;
    z-index:9999;
    top: 20px;
    right: 75px;
    background-color: var(--third-shade);
}

#menu-hover li {    
    width: 200px;
    background-color: var(--third-shade);
}

/* --------------- CONTENT --------------- */

#categories-link {
    display: flex;
    justify-content: space-evenly;
}

#products-link {
    display: flex;
    justify-content: space-evenly;
}

.item {
    position: relative;
    text-align: center;
    text-decoration: none;
    width: calc(100vw/3);
    height: 92vh;
    background-size: auto 100%;
    transition: all 0.3s ease-out;    
    background-image: url("../resources/pantalons.jpg");
}

.Pantalones {
    background-image: url("../resources/pantalons.jpg");
}
.Camisetas {
    background-image: url("../resources/samarretes.jpg");
}
.Calzado {
    background-image: url("../resources/sabates.jpg");
}
.Complementos {
    background-image: url("../resources/Complementos.jpg");
}

.item:hover {
    --item-zoom: 10%;
    background-size: auto calc(100% + var(--item-zoom));
    background-position-x: var(--item-zoom);
    background-position-y: var(--item-zoom);
}

.item div {
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition: all 0.2s ease-in-out;
}

.item div h3 {
    writing-mode: vertical-lr;
    color: rgb(172, 171, 171);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6vw;
    transform: translate(-50%, -50%);    
    vertical-align: center;
    text-align: center;
}

.item div:hover {
    opacity: 60%;
}

.products {
    margin-top: 50px;
    text-align: center;
}


.products img {
    width: 300px;
}

.products div {
    float: left;
    width: 33%;
}
.productos img:hover{
    opacity: 60%;
}

.products button {
    color: black;
    background-color: white;
    height: 40px;
    width: 100px;
    border-style: solid;
    border-color: black; 
}

.products button:hover{
    background-color: black;
    color: white;
}

.categories div {
    text-align: center;
    
}

.categories button {
    color: black;
    background-color: white;
    height: 50px;
    width: 200px;
    border-style: solid;
    border-color: black; 
    font-size: 19px;
}

.categories button:hover{
    background-color: black;
    color: white;
}

.product{
    float: left;
    width: 45%;
}

.product img {
    width: 700px;
}

.price {
    color: var(--third-shade);
    font-size: 25px;
    font-weight: bold;
}
.product h3 {
    font-size: 50px;
}

.product #info {
    margin-top: 150px;
    margin-left: 50px;
}

.product button{
    background-color: black;
    color: white;
    height: 40px;
    width: 300px;
    border-style: solid;
    border-color: black; 
}

.product button:hover{
    background-color: gray;
}

/* ----------------- FOOTER ------------------ */
#floating-cart {
    text-align: right;
    position: fixed;
    background-color: var(--main-color);
    text-decoration-color: var(--third-shade);
    z-index: 9999;
    width: 100%;
    bottom: 0px;
}